<div class="card hover:border-gray-500">
    <ul class="space-y-4">
      <li><a href="https://openlisboa.notion.site/Community-Guidelines-de57f7ca76b842ff8ce05b8b85277323" class="resource-link">Community Guidelines</a></li>
      <li><a href="https://openlisboa.notion.site/Therapists-recommendations-193f250f481a80a7a891cbc14788700b?pvs=74" class="resource-link">Therapists recommendations</a></li>
      <li><a href="https://openlisboa.notion.site/2024-end-of-year-message-from-Open-Hub-164f250f481a8028a40bd5509612dc0e?pvs=74" class="resource-link">2024 end-of-year message from Open Hub</a></li>
    </ul>
</div>  