<section id="community" class="relative bg-purple pt-20 pb-40 text-white">
    <!-- Top wave between About Us and Community-->
    <div class="wave-container absolute top-0 left-0 w-full rotate-180">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100" preserveAspectRatio="none">
        <path fill="#1a1a1a" d="M0,60 C 360,0 1080,120 1440,60 L1440,100 L0,100 Z" />
      </svg>
    </div>
  
    <div class="relative z-10 max-w-5xl mx-auto px-4 space-y-8">
      <h2 class="mb-6">Community</h2>
  
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {% include cards/whatsapp.html %}
        {% include cards/instagram.html %}
        {% include cards/calendar.html %}
        {% include cards/buddy.html %}
      </div>
    </div>
  
    <!-- Bottom wave -->
    <div class="wave-container absolute bottom-0 left-0 w-full">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100" preserveAspectRatio="none">
        <path fill="#1a1a1a" d="M0,60 C 360,0 1080,120 1440,60 L1440,100 L0,100 Z" />
      </svg>
    </div>
</section>
  