<section class="bg-darkbg pt-10 pb-10">
    <div class="max-w-5xl mx-auto px-4">
      <h2 class="mb-6">Give Us Feedback!</h2>
      <div class="card-box">
        <a href="https://docs.google.com/forms/d/11zQwgFHfX5NU60SFm4w_uFfDwpZsb4QLRcpA7IXUNDQ/edit#responses" class="link-block">Feedback form (ENG)</a>
        <a href="https://docs.google.com/forms/d/11AaB3Q0RXsSDMJjOiIBanISxVZm7UX-qJDdjII8XjhE/edit#responses" class="link-block">Formulário de feedback (PT)</a>
      </div>
    </div>
</section>