<section class="bg-darkbg py-2 text-white">
    <div class="max-w-5xl mx-auto px-4 space-y-5" id="resources">
      <h2 class="mb-6">Resources</h2>
  
      <!-- Top Resource Links -->
      <div class="card-box">
        <ul class="space-y-4">
          <li>
            <a
              href="https://openlisboa.notion.site/Community-Guidelines-de57f7ca76b842ff8ce05b8b85277323"
              class="link-block"
            >
              Community Guidelines
            </a>
          </li>
          <li>
            <a
              href="https://openlisboa.notion.site/Therapists-recommendations-193f250f481a80a7a891cbc14788700b?pvs=74"
              class="link-block"
            >
              Therapists recommendations
            </a>
          </li>
          <li>
            <a
              href="https://openlisboa.notion.site/2024-end-of-year-message-from-Open-Hub-164f250f481a8028a40bd5509612dc0e?pvs=74"
              class="link-block"
            >
              2024 end-of-year message from Open Hub
            </a>
          </li>
        </ul>
      </div>
  
      <!-- Useful Links + Influencers -->
      <div class="grid md:grid-cols-2 gap-8 mt-10">
        <!-- Useful Links -->
        <div>
          <h3 class="mt-10 mb-4 text-h3">Useful Links</h3>
          <div class="card-box">
            <ul class="space-y-4">
              <li><a href="https://docs.google.com/document/d/1CbTGOKaVS1-oIjzh_J-N9GhB2AkJywXB4nRwPxd2XWs/edit?usp=sharing" class="link-block">🧪 Free Sexual Health Testing in Lisbon</a></li>
              <li><a href="https://www.multiamory.com/" class="link-block">🎧 Multiamory Podcast</a></li>
              <li><a href="https://www.estherperel.com/podcast" class="link-block">🎧 Esther Perel – Where should we begin?</a></li>
              <li><a href="https://savage.love/lovecast/" class="link-block">🎧 Savage Lovecast</a></li>
              <li><a href="https://www.multiamory.com/podcast/339-the-smorgasbord-of-relationships" class="link-block">Smorgasbord of Relationships</a></li>
              <li><a href="https://www.maketimeforthetalk.com/about" class="link-block">STARS Talk framework for new partnerships</a></li>
              <li><a href="https://www.polyamory.org.uk/?page_id=104" class="link-block">List of non-monogamy terms</a></li>
              <li><a href="https://www.reddit.com/r/relationshipanarchy/comments/pwkopx/relationship_menu_my_take_on_the_smorgasbord/" class="link-block">Relationship Menu</a></li>
              <li><a href="https://www.multiamory.com/radar" class="link-block">RADAR Monthly Check-in</a></li>
              <li><a href="https://theangrynoodle.com/5-tips-for-writing-polyamory/" class="link-block">Tips for writing about Polyamory</a></li>
            </ul>
          </div>
        </div>
  
        <!-- Influencers -->
        <div>
          <h3 class="mt-10 mb-4 text-h3">Influencers to Follow</h3>
          <div class="card-box">
            <ul class="space-y-4">
              <li><a href="https://www.instagram.com/decolonizing.love" class="link-block"><i class="ri-instagram-line"></i> @decolonizing.love</a></li>
              <li><a href="https://www.instagram.com/polyphiliablog" class="link-block"><i class="ri-instagram-line"></i> @polyphiliablog</a></li>
              <li><a href="https://gabalexa.com/links" class="link-block"><i class="ri-instagram-line"></i> @gabalexa</a></li>
              <li><a href="https://linktr.ee/polyamfam" class="link-block"><i class="ri-instagram-line"></i> @polyamfam</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>